<div class="ui vertical yellow text menu">
  <div class="header item">Online Users</div>
  <a class="active item">
    Closest
  </a>
  <a class="item">
    Most Comments
  </a>
  <a class="item">
    Most Popular
  </a>
</div>