@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

body {
    background-color:#F8F9F9
  }
.chatbox{
    height: 450px;
}  

#messages{
    height: 15em;
    overflow: auto;
}

.input{
    button{
        display: none;
    }
}